<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Alexander Borowski</title>
  <meta content="writing about things." name="description">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="./styles.css" rel="stylesheet" type="text/css">

  <script type="text/javascript">WebFont.load({  google: {    families: ["Inter:100,200,300,regular,500,600,700,800,900"]  }});</script>
  <link href="images/small_logo.png" rel="shortcut icon">
  <link href="images/logo_webclip.png" rel="apple-touch-icon">

</head>

<body class="body" id="main-content">
  <div class="header">
    <div class="top-navigation-links" id="id_menu_show">
      <a href="./index.html" aria-current="page" class="navigation-link mobile-nav current">thoughts</a>
      <a href="./about.html" class="navigation-link mobile-nav">about</a>
      <a href="./contact.html" class="navigation-link mobile-nav">let's talk</a>
      <a href="./login.html" class="navigation-link mobile-nav">author login</a>
      <div class="close-menu-button"><img src="images/close.svg" loading="lazy" alt="" class="menu-icon" onclick="closeMenu()"></div>
    </div>
    <a href="./index.html" aria-current="page" class="logo-link-block inline-block current"> <img src="images/logo_vector.svg" loading="lazy" width="Auto" alt="" class="image-2" ></a>
    <div class="open-menu-button"><img src="images/menu.svg" loading="lazy" alt="" class="menu-icon" id="menu_button_id" onclick="openMenu()" ></div>
  </div>

  <div class="content-section-one">
    <button id="theme-switcher" class="button"></button>
    <div class="container center-align">
      <a href="/article_about_me.html" class="post-container"><img sizes="100vw" loading="lazy" src="images/howtobehuman.png" class="featured-image add-padding">
        <div>
          <div class="new-post">New!</div>
          <div class="post-date">26.07.2023</div>
        </div>
        <h1>Launching this blog</h1>
        <div class="post-author-container">
          <div class="by-text">by</div>
          <div class="post-author">Alexander Borowski</div>
        </div>
        <p class="post-summary">Ever had a midnight thought so bizarre that you burst out laughing? Welcome to my blog haha. My blog, a space for sharing uncanny musings and hearty laughs, is my attempt to turn 'I can't believe I just thought that' moments into an amusement park for words. Hold on to your sanity, peepz!</p>
      </a>


      <% articles.forEach((article) => { %>
    
        <a href="/articles/<%= article._id %>" class="post-container">
          <div>
            <div class="new-post">New!</div>
            <div class="post-date"><%= article.createdOn %></div>
          </div>
          <h1> <%= article.title %> </h1>
          <div class="post-author-container">
            <div class="by-text">by</div>
            <div class="post-author"><%= article.author %></div>
          </div>
          <p class="post-summary"><%= article.summary %></p>
        </a>
      <% }) %>
      
<!-- Using, when installing Mailchimp or Airtable for newsletter functionality
  <div class="content-section-form">
    <div class="container center-align">
      <div class="call-to-action-container">
        <h2 class="inverted-color">Want to receive emails?</h2>
        <div class="inverted-color">Sign up to get an email every time I post a new blog article. Only happens once a month!</div>
        <div class="email-signup-form">
          <form id="email-sign-up" name="email-sign-up" data-name="email sign-up" method="get" class="signup-form-container"><input type="email" class="email-field input" maxlength="256" name="Email-Address" data-name="Email Address" placeholder="Enter your email" id="Email-Address" required=""><input type="submit" value="Submit" data-wait="Please wait..." class="submit-button"></form>
          <div class="success-message form-done">
            <div>Thanks!</div>
          </div>
          <div class="error-message form-fail">
            <div>Oops! Something went wrong.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  -->
  <div class="footer">
    <div class="footer-link-container">
      <div class="copyright-text">© Alexander Borowski</div>
      
    </div>
  </div>

  <iframe id="successGif" src="https://giphy.com/embed/3ov9jWyZ6N1vZqHVWE" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%) scale(0);"></iframe>

<script src="myscripts.js"></script>

</body>
</html>